@charset "utf-8";
/* CSS Document */
@media only screen and (min-width:320px) and (max-width:767px)
{   .responsive-menu{display:block;width:100%;}
	.responsive-menu i{font-size: 21px!important;
    background-color:#00134c;
    color: #fff;
    padding: 11px;}
	.resmenu ul li a{font-size:18px;color:#9cf;font-family:'FaunaOne-Regular'}
	.resmenu ul li a:hover{font-size:18px;color: #fff;font-family:'FaunaOne-Regular'}
	 .resmenu ul {background: #00134c;display:block}   
     .resmenu ul li {border-bottom:1px solid #fff;padding:10px;}
	 .responsive-menu i{color:#fff\9}
	
	.inner-bottom h2{text-align:center;}
	.bginner p.bigs{line-height:1.4em;font-size:40px;}
	.aboutsection {padding:30px 0;}
	.aboutsection img{width:100%;display:inline-block}
	.aboutsection h1{font-size: 25px;}
	.aboutsection {padding:0px;}
    .product h1 {font-size: 25px;}
    .productdetail{margin-bottom: 10px}
    .contactform {padding:0px;}
    .contactform h2 {font-size: 25px;}
	.contactform h2{font-size:20px;font-weight:700}
	.contact_form p{margin-bottom:5px}
	div.post-excerpt h2{font-size: 23px;line-height:10px;}
	.inner-page h3{font-size:23px;}
}

@media only screen and (min-width:768px) and (max-width:1024px)
{
	.responsive-menu i{font-size: 21px!important;
    background-color: #00134c;
    color: #fff;
    padding: 11px;}
	.resmenu ul li a{font-size:18px;color: #9cf;;font-family:'FaunaOne-Regular'}
	.resmenu ul li a:hover{font-size:18px;color: #fff;font-family:'FaunaOne-Regular'}
	 .resmenu ul {background: #00134c;display:block}   
     .resmenu ul li {border-bottom:1px solid #fff;padding:10px;}
	 .responsive-menu i{color:#fff\9}

   .inner-bottom h2{text-align:center;}
	.bginner p.bigs{line-height:1.4em;font-size:40px;}
	.aboutsection {padding:30px 0;}
	.aboutsection img{width:100%;display:inline-block}
	
	.aboutsection {padding:20px;}
    
    .productdetail{margin-bottom: 10px}
    .contactform {padding:0px;}
    
	
	.contact_form p{margin-bottom:5px}

	
	
}