---
layout: default
---
<!--banner section begin-->
<div class="banner-secion" style="background: url(../image/banner.jpg) no-repeat;background-size: cover">
  <div class="overlay">
  	<div class="container">
  		<div class="bginner">
  		<p class="bigs">{{site.banner-maintitle}}</p>
			<h4>{{site.banner-title}}</h4>
			<a href="{{site.banner-url}}">Contact Us</a>
			
		</div>
	  </div>
	</div>
</div>
<!--banner section ends-->
<!--about section start-->
<section class="aboutsection" id="nav2">
<div class="container">
{% include about-section.html %}
{% include state-section.html %}
</div>
</section>
<!--about section ends-->
<!--product section begin-->
{% include product-section.html %}
<!--product section ends-->
<!--form section start-->
{% include form-section.html %}
<!--form section start-->