{% for about-section in site.data.about-section %}
<h1>{{about-section.about-title}} </h1>
<div class="row">
			
				<div class="col-md-7">
					<p>{{about-section.about-content}}</p>
					<ul class="aboutpoint">
						<li><p>{{about-section.point-one}}</p></li>
						<li><p>{{about-section.point-two}}</p></li>
						<li><p>{{about-section.point-three}}</p></li>
					</ul>
				</div>
				
				<div class="col-md-5">
				  <img src="{{site.baseurl}}/image/{{about-section.about-image}}" alt="steel boar manufacture">
				</div>
				
			</div>
{% endfor %}		
