<section class="aboutsection">
		<div class="container">
			<div class="row">
			{% for about-section in site.data.about-section %}
				<div class="col-md-7">
					<p>{{about-section.about-content}}</p>
					<ul class="aboutpoint">
						<li><p>{{about-section.point-one}}</p></li>
						<li><p>{{about-section.point-two}}</p></li>
						<li><p>{{about-section.point-three}}</p></li>
					</ul>
				</div>
				
				<div class="col-md-5">
				  <img src="{{site.baseurl}}/image/{{about-section.about-image}}" alt="steel boar manufacture">
				</div>
				{% endfor %}
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul class="satelist"> 
                      {% for about-section in site.data.about-section %}
						<li><h3>{{about-section.state}}</h3></li>
						{% endfor %}

					</ul>
				</div>
			</div>
		</div>
	</section>