<footer class="footerarea text-center">
	<div class="container">
		<div class="socila">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-google-plus"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
		</div>
		{% for footer-section in site.data.footer-section %}
		<div class="whatapp"><a href="intent{{footer-section.footer-phonenumber}}#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end">{{footer-section.footer-phonenumber}}
		<span>Whatapp requirement</span></a> </div>
		{% endfor %}
	</div>
	
	<div class="footerlink">
		<a href="{{site.baseurl}}">Home</a><span>|</span>
		<a href="{{site.baseurl}}#">About</a>
		<a href="{{site.baseurl}}#">Our Work</a>
	<a href="{{site.baseurl}}#">Blog</a>
	<a href="{{site.baseurl}}#">Contact us</a>
		
	</div>
	<p>© Copyrights 2017</p>
</footer>