<footer class="footerarea text-center">
	<div class="container">
		<div class="socila">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-google-plus"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
		</div>
		<div class="whatapp"><a href="intent://send/+91 9524381826#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end">+91 9524381826 
			<span>Whatapp requirement</span></a> </div>
	</div>
	
	<div class="footerlink">
		<a href="#">Home</a><span>|</span>
		<a href="#">About</a>
		<a href="#">Our Work</a>
	<a href="#">Blog</a>
	<a href="#">Contact us</a>
		
	</div>
	<p>© Copyrights 2017</p>
</footer>