<div class="socila">
			<a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
			<a href="https://www.twitte.com"><i class="fa fa-twitter"></i></a>
			<a href="https://www.googleplus.com"><i class="fa fa-google-plus"></i></a>
			<a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
		</div>
		{% for footer-section in site.data.footer-section %}
		<div class="whatapp"><a href="intent{{footer-section.footer-phonenumber}}#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end">{{footer-section.footer-phonenumber}}
		<span>Whatapp requirement</span></a> </div>
		{% endfor %}
	
	
	