<section class ="contactform">
	<div clas="container">
		<h2>Quality steel boat manufactures in Mangalore</h2>
		<p>We assure project delivery on time with great customer satisfaction </p>
	   <p>we are ready to build customized steel boats for your fishing business</p>
	   <div class="innercontatc">
	  <form class="contact_form" method="post" action="">
	  	<div class="row">
	  		<div class="col-md-6">
				<p><input type="text" placeholder="Enter your Name"></p>
				<p><input type="text" placeholder="Enter your Email"></p>
				<p><input type="text" placeholder="Enter your Name"></p>
			</div>
			<div class="col-md-6">
				<p><textarea placeholder="Enter your message"></textarea></p>
				<p><input type="submit" placeholder="Enter your Name"></p>
			</div>
		  </div>
		</form>
		</div>
	</div>
	</section>