<section class ="contactform">
	<div clas="container">
	   {% for form-section in site.data.form-section %}
		<h2>{{form-section.contact-title}}</h2>
		<p>{{form-section.contact-subline}}</p>
	  
	   <div class="innercontatc">
	  <form class="contact_form" method="post" action="{{form-section.form-action}}">
	  	<div class="row">
	  		<div class="col-md-6">
				<p><input type="text" placeholder="Enter your Name"></p>
				<p><input type="email"  name="email placeholder="Enter your Email"></p>
				<p><input type="number" placeholder="Enter your Name"></p>
			</div>
			<div class="col-md-6">
				<p><textarea placeholder="Enter your message" name="message"></textarea></p>
				<p><input type="submit" value="Send message"></p>
			</div>
		  </div>
		</form>
		</div>
		{% endfor %}
	</div>
	</section>