<div class="header-top">
 		<div class="container">
 			<div class="row">
 				<div class="col-md-8">
 					<ul class="mailing">
						<li><a href="mailto:madhumitha.sekar@cripumps.com">madhumitha.sekar@cripumps.com</a></li>
						<li><a href="tel:+91 5757900865">+91 5757900865</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<div class="social">
						<a href="#" class="bloglink">Blog <span>|</span></a>
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
			</div>
		</div>
	 </div>