<div class="header-top">
 		<div class="container">
 			<div class="row">
 				<div class="col-md-8">
 					<ul class="mailing">
 					{% for header-top in site.data.header-top %}
						<li><a href="mailto:{{ header-top.mailid }}"></a></li>
						<li><a href="tel:{{ header-top.phone-number }}"></a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-md-4">
					<div class="social">
						<a href="#" class="bloglink">Blog <span>|</span></a>
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
			</div>
		</div>
	 </div>