<div class="product">
	<div class="container">
		<p>We take pride in saying that we have built a boat to the Ex-Indian Navy officer.</p>
		<div class="row">
			<div class="col-md-4">
			<div class="productdetail">
				<div class="prod">
					<a href="#"><img src="image/port1.jpg"/></a>		
			    </div>
			   
				</div>
			  </div>
			<div class="col-md-4">
			<div class="productdetail">
				<div class="prod">
					<a href="#"><img src="image/port1.jpg"/></a>		
			    </div>

				</div>
			</div>
	        <div class="col-md-4">
	         <div class="productdetail">
				<div class="prod">
					<a href="#"><img src="image/port1.jpg"/></a>		
			    </div>
			    
				</div>
			</div>
		</div>
		<div class="text-center">
			<a href="#">View our other project</a>
		</div>
 </div>
</div>