<div class="product">
	<div class="container">
	{% for product-section in site.data.product-section %}
		<p>{{product-section.product-title}}</p>
		<div class="row">
			<div class="col-md-4">
			<div class="productdetail">
				<div class="prod">
					<a href="#"><img src="image/{{product-section.product-image-one}}"/></a>		
			    </div>
			   
				</div>
			  </div>
			<div class="col-md-4">
			<div class="productdetail">
				<div class="prod">
					<a href="#"><img src="image/{{product-section.product-image-two}}"/></a>		
			    </div>

				</div>
			</div>
	        <div class="col-md-4">
	         <div class="productdetail">
				<div class="prod">
					<a href="#"><img src="image/{{product-section.product-image-three}}"/></a>		
			    </div>
			    
				</div>
			</div>
		</div>
		<div class="text-center">
			<a href="{{product-section.product-button-url}}">{{product-section.product-button}}</a>
		</div>
 </div>
</div>