<div class="inner-bottom">
           {% for top-logosection in site.data.top-logosection %}
	 			<div class="row">
	 				<div class="col-md-4">
	 					<h2 style="font-size:30px;color:#00134c;text-transform:uppercase;font-weight:600">{{top-logosection.logotext}}</h2>
					</div>
					<div class="col-md-8">
					    <ul class="menu">
							<li class="active"><a href="{{site.baseurl}}">{{top-logosection.menu-one}}</a></li>
							<li><a href="{{site.baseurl}}/#nav2">{{top-logosection.menu-two}}</a></li>
							<li><a href="{{site.baseurl}}/#nav3">{{top-logosection.menu-three}}</a></li>
							<li><a href="{{site.baseurl}}/blog">{{top-logosection.menu-four}}</a></li>
							<li><a href="{{site.baseurl}}/#nav5">{{top-logosection.menu-five}}</a></li>
						</ul> 
					</div>
				</div>
				{% endfor %}

				 <div class="responsive-menu hidden-md hidden-lg">
    	         <a href="#" class="respon-menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
                 <a href="#" class="respon-cross"><i class="fa fa-times" aria-hidden="true"></i></a>
           </div>
           <div class="resmenu hidden-md hidden-lg">
    	      <ul>
        	    <li><a href="{{site.baseurl}}">Home</a></li>
                 <li><a href="{{site.baseurl}}/#nav2/">Pricing</a></li>
                <li><a href="{{site.baseurl}}/#nav3/">Privacy</a></li>
                <li><a href="{{site.baseurl}}/#blog">Contact</a></li>
               <li><a href="{{site.baseurl}}/#nav5/">Faq</a></li>
                
             </ul>
        
          </div>
			</div>