
<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
  
<title>{{site.title}}</title>
<meta name="description" content="">
<meta  name="keywords" content="">
<!-- seo -->
<meta  name="og:title" content="Steel boat manufacturer, boat builders, fishing boat manufacturer">
<meta  name="og:description" content="Steel boat manufactured here especially for the fishing purpose. C Lion boat builders are expertise in manufacturing various type of steel fishing boats. We use quality materials to get it delivered with high performance.">
<link rel="icon" href="img/favicon.png" type="image/png">
<link href="{{site.baseurl}}/css/style.css" rel="stylesheet" type="text/css">
<link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="{{site.baseurl}}/css/responsive.css" rel="stylesheet" type="text/css" />
<link href="{{site.baseurl}}/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{site.baseurl}}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/custom.js"></script>
</head>
<body>
<div class="contentwrapper">
 <header class="headersec">

    {% include header-top.html %}

	 <div class="header-bottom">
	 	<div class="container">
	 		
		 </div>
	 </div>
</header>
<!--header section ends-->
{{content}}
<!--form section start-->
{% include form-section.html %}
<!--form section start-->
<!--footer section start-->	
<footer class="footerarea text-center">
<div class="container">
{% include footer-section.html %}
{% include footer-menu.html %}
<p>© Copyrights 2017</p>
</div>
</footer>
<!--footer section ends-->	
</div> 
 </body>
</html>
