
<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
  
<title>{{site.title}}</title>
<meta name="description" content="">
<meta  name="keywords" content="">
<!-- seo -->
<meta  name="og:title" content="Steel boat manufacturer, boat builders, fishing boat manufacturer">
<meta  name="og:description" content="Steel boat manufactured here especially for the fishing purpose. C Lion boat builders are expertise in manufacturing various type of steel fishing boats. We use quality materials to get it delivered with high performance.">
<link rel="icon" href="img/favicon.png" type="image/png">
<link href="{{site.baseurl}}/css/style.css" rel="stylesheet" type="text/css">
<link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="{{site.baseurl}}/css/responsive.css" rel="stylesheet" type="text/css" />
<link href="{{site.baseurl}}/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{site.baseurl}}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/custom.js"></script>
</head>
<body>
<div class="contentwrapper">
 <header class="headersec">

    {% include header-top.html %}
    
	 <div class="header-bottom">
	 	<div class="container">
	 		<div class="inner-bottom">
	 			<div class="row">
	 				<div class="col-md-4">
	 					<h3 style="font-size: 35px;margin-top: 10px;"> quality</h3>
					</div>
					<div class="col-md-8">
					    
					</div>
				</div>
			</div>
		 </div>
	 </div>
</header>
<!--header section ends-->
{{content}}
<!--form section start-->
<section class ="contactform">
	<div clas="container">
		<h2>Quality steel boat manufactures in Mangalore</h2>
		<p>We assure project delivery on time with great customer satisfaction </p>
	   <p>we are ready to build customized steel boats for your fishing business</p>
	   <div class="innercontatc">
	  <form class="contact_form" method="post" action="">
	  	<div class="row">
	  		<div class="col-md-6">
				<p><input type="text" placeholder="Enter your Name"></p>
				<p><input type="text" placeholder="Enter your Email"></p>
				<p><input type="text" placeholder="Enter your Name"></p>
			</div>
			<div class="col-md-6">
				<p><textarea placeholder="Enter your message"></textarea></p>
				<p><input type="submit" placeholder="Enter your Name"></p>
			</div>
		  </div>
		</form>
		</div>
	</div>
	</section>
<!--form section start-->
<!--footer section start-->	
<footer class="footerarea text-center">
	<div class="container">
		<div class="socila">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-google-plus"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
		</div>
		<div class="whatapp"><a href="intent://send/+91 9524381826#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end">+91 9524381826 
			<span>Whatapp requirement</span></a> </div>
	</div>
	
	<div class="footerlink">
		<a href="#">Home</a><span>|</span>
		<a href="#">About</a>
		<a href="#">Our Work</a>
	<a href="#">Blog</a>
	<a href="#">Contact us</a>
		
	</div>
	<p>© Copyrights 2017</p>
</footer>
<!--footer section ends-->	
</div> 
 </body>
</html>
